.list{
    display: inline-block;
    vertical-align: top;
}


.navHeader {
    background-color: orangered;
    color: white;
    width: 75%;
    margin: auto;
    text-align: center;
}

.content {
    width: 75%;
    margin: auto;
    white-space: nowrap;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    background-color: blue;
}

nav>p {
    text-align: center;
    color: white;
}

li, td {
    padding-bottom: 10px;
}

#param_select{
    font-size: 18px;
}

#search_header{
    padding-bottom: 25px;
}

#movie_search{
    height: 15px;
    margin-right: 5px;
}

tr:nth-child(even){
    background-color: lightgray;
}

table {
    border: 1px solid black;
}

.selected {
    background-color: yellow;
}
